<!DOCTYPE html>
    <head>
      <meta name="theme-color" content="#282c34">
      <meta charset="UTF-8">
      <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">

      <link rel="icon" type="image/png" href="<%= vars.homeurl %>img/LNB.png">

      <%
        if(typeof episode === "object" && episode.episode!=""){
          %>
            <title id="pagetitle">episode <%= episode.episode %> of <%= vars.title %></title>
          <meta name="description" content="<%= episode.title %> by <%= episode.artist %>. Episode <%= episode.episode %> of <%= vars.title %>. | Handpicked EDM." />
          <meta name="keywords" content="minimal, techno, edm, playlist, radio, deep, house, techhouse, underground, late night blue, <%= episode.title %>, <%= episode.artist %>" />

          <meta property="og:description" content="<%= episode.title %> by <%= episode.artist %>. Episode <%= episode.episode %> of <%= vars.title %>. | Handpicked EDM." />
          <meta property="og:title" content="episode <%= episode.episode %> of <%= vars.title %>" />
          <meta property="og:url" content="<%= vars.homeurl + episode.episode %>" />
          <%
        }
        else{
          episode = {
            title: "",
            episode: "",
            album: "",
            artist: "",
            url: "#"
          }
          %>
          <title id="pagetitle"><%= vars.title %></title>
          <meta name="description" content="Handpicked EDM." />
          <meta name="keywords" content="minimal, techno, edm, playlist, radio, free, deep, house, techhouse, underground, late night blue" />

          <meta property="og:description" content="Handpicked EDM." />
          <meta property="og:title" content="<%= vars.title %>" />
          <meta property="og:url" content="<%= vars.homeurl %>" />
          <%
        }
        %>

      <meta name="revisit-after" content="1 day" />
      <meta name="language" content="English" />
      <meta property="og:type" content="website" />
      <meta property="og:site_name" content="<%= vars.title %>" />
      <meta property="og:locale" content="en_US" />
      <meta property="og:image" content="<%= vars.homeurl %>img/latenight.blue.square.png" />
        <%
            for(var i=0; i< stylesheets.length; i++){
                %>
        <link href="<%= stylesheets[i] %>" rel="stylesheet" />
                <%
            }
        %>
    </head>
    <body>
<div id="error"><%
        if(typeof error !== 'undefined'){
            %><%= error %><%
        }
    %></div>
        <main id="main">
            <header>
                <a href="<%= vars.homeurl %>"><h1><%= vars.title %></h1></a>
                <span>episode</span> <span id="episode"><%= episode.episode %></span>
            </header>
            <div id="wrap">

                <a id="url" title="View on Youtube" target="_blank" href="<%= episode.url %>"><h2 id="title"><%= episode.title %></h2>
                <span id="artist"><%= episode.artist %></span> <span>-</span> <span id="album"><%= episode.album %></span>
                </a><br /><br />
                <span id="mobilewarning">Unfortunately, the YouTube API does not allow the autoplay of videos on mobile devices.</span><br />
                <div id="playerWrap">
                    <a title="Previous" href="#" id="previous" data-action="previous"><span class="iconicstroke-first nomargin"></span></a>
                    <a title="Play / Pause" href="#" id="playpause" data-action="togglePlay"><span class="iconicstroke-play" id="playpausebutton"></span></a>
                    <a title="Next" href="#" id="next" data-action="next"><span class="iconicstroke-last"></span></a>
                    <span class="spacer"></span>
                    <span class="one small"><span id="timeIndex">00:00</span> <span>/</span> <span id="length">00:00</span></span>

                    <span class="spacer"></span>
                    <a title="Shuffle" href="#" id="toggleShuffle" data-action="toggleShuffle"><span class="iconicstroke-fork"></span></a>
                    <a title="Fullscreen" href="#" id="toggleFullscreen" data-action="toggleFullscreen"><span class="iconicstroke-fullscreen"></span></a>
                    <a title="Show Youtube player" href="#" id="togglePlayerShow" data-action="togglePlayerShow"><span class="iconicstroke-eye"></span></a>
                    <a title="Go to Facebook page" target="_blank" href="https://www.facebook.com/latenight.blue" ><span class="iconicstroke-info"></span></a>
                    <br /><br />
              </div>
            </div>
        </main>
        <%

        for(var i=0; i < scripts.length; i++){
            %>
    <script type="text/javascript" src="<%= scripts[i] %>"></script>
            <%
        }
        if(!vars.development){
        %>
        <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-64348766-1', 'auto');
  ga('send', 'pageview');

</script>
<% } %>
    </body>
</html>
